.view-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90vh;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
}
.seat{
    height: 25px;
    width: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #0000;
    background-color:#c0e3e3;
    margin: 10px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}
.screen{
    background-color: #00ee;
    width: 50vw;
    align-self: center;
    color: #fff;
    margin-left: 50vh;
    text-align: center;
    margin-top: 30px;
}
.seat:hover {
    background-color: #3498db;  
    color: white;  
}