.product-item {
    list-style-type: none;
    margin-bottom: 48px;
    width: 320px;
    flex-grow: 0;
    flex-shrink: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }
  .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #475569;
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .product-item {
      width: 300px;
    }
  }
  
  .link-item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  
  .thumbnail {
    width: 80%;
    max-height: 390px;
    border-radius: 6px;
  }
  
  .title {
    color: #171f46;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 8px;
  }
  
  .brand {
    color: #594d6d;
    font-family: 'Roboto';
    font-size: 18px;
    margin-bottom: 6px;
  }
  
  .product-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2px;
    width: 200px;
  }
  
  .price {
    color: #171f46;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
  }
  
  .rating-container {
    display: flex;
    align-items: center;
    background-color: #2340f9;
    border-radius: 6px;
    padding: 6px 16px;
    height: 20px;
  }
  
  .rating {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    margin-right: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .star {
    height: 20px;
    width: 20px;
    margin-bottom: 3px;
  }